
body {
    display: grid;
    grid-template-rows: 1fr 40px 50px ;
    background-image: url("https://images.pexels.com/photos/209956/pexels-photo-209956.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: none;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Chalkduster, fantasy;
    font-size: 40px;
    background-image: url("https://image.freepik.com/free-vector/top-views-american-football-field-green-grass-pattern-sport-background_64749-403.jpg");
    background-size: 86.00px 86.00px;
    color: black;
    padding: 60px;
    background-repeat: none;
}
.navbar {
    display: flex;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style:none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;

}
.active {
    background-color: #a88d5a;
    font-weight: bolder;
    font-size: 30px;
    font-family: Impact, fantasy;
    padding: 0 100px 0 100px;
}
.active2 {
    background-color: #e49439;
    font-weight: bolder;
    font-size: 30px;
    font-family: Marker Felt, fantasy;
    text-align: right;
    padding: 0 100px 0 100px;
    
}

.search {
    background-color: #93d1ee;
    border-style: groove;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
}

a{
    color: black;
    
}

.dropdown {
    left: 50%;
    right: auto;
    text-align: center;
    padding-top: 15px;
}




