
body {
    display: grid;
    grid-template-rows: 1fr 40px 50px ;
    background-color: black;
}

h1 {
    text-align: center;
    font-family: Chalkduster, fantasy;
    background: linear-gradient(90deg, #ffffff 3.49%, #2aa326 3.49%, #2aa326 50%, #ffffff 50%, #ffffff 53.49%, #2aa326 53.49%, #2aa326 100%);
    background-size: 86.00px 86.00px;
    color: black;
    padding: 40px;  
}
.navbar {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style:none;
    margin: 0;
    padding: 0;
    text-align:center;
}
.active {
    background-color: #a88d5a;
    font-weight: bolder;
    font-size: 30px;
}
.active2 {
    background-color: #e49439;
    font-weight: bolder;
    font-size: 30px;
    
}

.search {
    background-color: #aaafda;
    border-style: double;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

a{
    color: black;
    text-decoration: none;
}

.dropdown {
    left: 50%;
    right: auto;
    text-align: center;
}





